body[data-sidebar="dark"] {
  .logo-dark {
    display: none;
  }

  .logo-light {
    display: block;
  }
}

#page-topbar {
  background-color: $header-bg;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  box-shadow: $box-shadow;
  z-index: 9999;

  .navbar-header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 0 12px 0 0;
    margin: 0 auto;
    gap: 10px;

    .navbar-brand-box {
      background: $sidebar-dark-bg;
      padding: 0 1.5rem;

      .logo {
        line-height: 70px;
      }
    }

    .header-item {
      height: $header-height;
      // box-shadow: none !important;
      color: $header-item-color;
      border: 0;
      border-radius: 0px;
      position: relative;

      &:hover {
        color: $header-item-color;
      }
    }

    .notif-icon {
      i {
        // color: $header-dark-item-color;
      }

      .badge{
        position: absolute;
        top: 8px;
        right: 0px;
      }

    }

    .logo-dark {
      display: none;
    }

    .logo-light {
      display: block;
    }

  }
}
